$default-theme-primary-color: (
  50 : #e3e3e5,
  100 : #bab9bf,
  200 : #8c8b95,
  300 : #5d5c6a,
  400 : #3b394a,
  500 : #18162a,
  600 : #151325,
  700 : #11101f,
  800 : #0e0c19,
  900 : #08060f,
  A100 : #7053ff,
  A200 : #4620ff,
  A400 : #2800ec,
  A700 : #2400d2,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$default-theme-accent-color: (
  50 : #e4f0fe,
  100 : #bcd9fc,
  200 : #8fbffa,
  300 : #62a5f7,
  400 : #4192f6,
  500 : #1f7ff4,
  600 : #1b77f3,
  700 : #176cf1,
  800 : #1262ef,
  900 : #0a4fec,
  A100 : #ffffff,
  A200 : #e2eaff,
  A400 : #afc4ff,
  A700 : #96b1ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$default-theme-warn-color: (
  50 : #fdece1,
  100 : #fad0b3,
  200 : #f7b081,
  300 : #f4904e,
  400 : #f17928,
  500 : #ef6102,
  600 : #ed5902,
  700 : #eb4f01,
  800 : #e84501,
  900 : #e43301,
  A100 : #ffffff,
  A200 : #ffded8,
  A400 : #ffb3a5,
  A700 : #ff9e8b,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

